@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;   
} 


/* Animated Cursor */
.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #74BEAF;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: .1s;
    z-index: 9;
}

.cursor-two{
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #23A6F0;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: .15s;
    z-index: 9;
}


@media screen and (max-width:1000px){
    .cursor{
        display: none;
    }
    .cursor-two{
        display: none;
    }
}


/* Hero Section */


.nav-bar{
    position: fixed; 
    width: 100%; 
    height: 80px;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
    border-bottom: 0.5px solid #fff;
}

.nav-bar div img{
    width: 147px;
    height: 50px;
    margin-left: 52%;
    object-fit: cover;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li :last-child{
    margin-right: 0;
 }

 nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    margin-top: 30px;
    border-radius: 5px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}


nav ul li a {
    color: #f8f8f8;      
}

.cart nav{
    display: none;
}


.cart-icon img{
    display: none;
}

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    min-height: 100vh;
    background-color: #ffff;
    z-index: 6;
    padding: 20px;
    box-shadow: -2px  0 4px  hsl(0 4% 15% / 10%);
    transition: all ease 0.3s;
}

.cart.active{
    right:0 ;
}

.menu{
    margin-top: 50px;
}

.menu h2{
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.menu div{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.menu div li{
  list-style: none;
  margin-bottom: 20px;
}

.menu div li a{
    font-size: 32px;
    color: #000;
    padding-bottom: 10px;
    transition: all ease 0.3s;
}

.menu div li a:hover{
    border-bottom: 2px solid #000;
}

.spec span{
    font-weight: 800;
}

.spec div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spec div p{
    font-size: 12px;
}


header{
    position: relative;
    height: 790px;
    background: url(etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.png);
    background-size: cover;
}

.header-overlay{
    position: absolute;
    width: 100%;
    height: 790px;
    background: url(overlay.png);
    background-size: cover;
}

.header-con{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.head-text {
    flex-basis: 51%;
}


.head-text h2{
    color: #f8f8f8;
    font-size: 52px;
    font-weight: 700;
}

.map{
    flex-basis: 40%;
}

.mapped-img{
    width: 100%;
}

.sort{
    width: 92%;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}

.sort-box{
    margin: 0 auto;
    background: #f9f9f9;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-box div{
    display: flex;
    align-items: center;
    height: 50px;
}

.promo{
    display: none;
    justify-content: space-between;
    margin-top: 5%;
    transition: all ease 0.3s;
}

.promo-field{
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    color: #343434;
    border: 2px solid #989898 ;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.promo ::placeholder{
    font-size: 14px;
    color: #3F3F3F;
}

.type{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
}

.custom-type{
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    background: transparent;
    outline: none;
    border-right: 16px solid transparent;
  }

.hood{
    flex-basis: 45%;
    display: flex;
    border-left: 2px solid #e6e6e6;
    justify-content: center;
    align-items: center;  
}

.hood img{
    cursor: pointer;
    margin-left: 20px;
}

.search-icon{
    flex-basis: 15%;
    background: #23A6F0;
    display: flex;
    justify-content: center;
    align-items: center;  
    cursor: pointer; 
}


@media screen and (max-width:990px){
    .header-con{
        width: 90%;
    }
    nav{
        display: none;
    }

    .nav-bar div img{
        margin-left: 5%;
        object-fit: cover;
        
    }

    .menu nav{
        display: block;
    }

    .cart{
        width: 80%;
    }

    .cart-icon img{
        display: block;
    }

    .header-con{
        flex-direction: column;
    }

    .head-text {
        flex-basis: 100%;
    }
    
    .head-text h2{
        color: #f8f8f8;
        font-size: 28px;
        font-weight: 700;
    }

    .map{
        flex-basis: 100%;
        margin-top: 10%;
    }

    .sort{
        width: 100%;
    }

    .type img{
        margin-left: 8px;
        cursor: pointer;
    }
       
    .hood img{
        cursor: pointer;
        margin-left: 8px;
    }   

}

/* Hero Section Ends */




/* Section */
.minimum{
   width: 85%; 
   margin: 0 auto;
   margin-top: 80px;
}

.minimum span{
    font-size: 28px;
    font-weight: 800;
}

.minimum span::after{
    content: '';
    width: 25%;
    height: 2px;
    margin-top: 5px;
    background: #F4511E;
    display: block;
    transition: 0.5s;
}

.mini-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    flex-basis: 45%;
}

.left img{
    width: 100%;
}

.right{
    flex-basis: 65%;
}

.icon-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-box{
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffff;
    box-shadow: 0 0 10px 0px #e1e1e1;
}

.icon-flex p{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 800;
}

@media screen and (max-width:990px){
    .mini-flex{
        flex-direction: column;
    }

    .icon-right{
        flex-direction: column;
    }

    .icon-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .icon-flex p{
        font-size: 18px;
    }

    .left{
        flex-basis: 100%;
        margin-top: 10%;
    }
    
    .right{
        flex-basis: 100%;
    }
}

/* Section Ends */


/* Section */
.list{
    background: #f5f5f5;
}

.list-con{
    width: 85%;
    margin: 0 auto;
    padding: 50px 0;
}

.properties{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.properties span{
    font-size: 24px;
    font-weight: 800;
}

.properties span::after{
    content: '';
    width: 30%;
    height: 2px;
    margin-top: 5px;
    background: #F4511E;
    display: block;
    transition: 0.5s; 
}

.properties button{
    border: none;
    color: #fff;
    background: #F4511E;
    padding: 15px 18px;
}


.glider{
    width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 168vh;
}

.glide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.glide.active{
    opacity: 1;
}

.prop-divs{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fix{
    width: 100%;
    object-fit: cover;
}

.div-one{
    background: #fff;
    flex-basis: 29%;
    border-radius: 20px;
}


.padded-div{
    padding:20px;
}

.div-two{
    background: #fff;
    flex-basis: 29%;
    border-radius: 20px;
}


.div-three{
    background: #fff;
    flex-basis: 29%;
    border-radius: 20px;
}


.padded-div p{
    width: 80%;
    font-weight: 700;
    margin-bottom: 15px;
}

.padded-div span{
  font-size: 14px; 
  color: #818181; 
  margin-bottom: 10px; 
}

.padded-div h3{
    color: #F4511E;
    margin-top: 8px;
    font-weight: 700;
}

.rendez{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E4E4E4;
}


.rendez div{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rendez div img{
    margin-right: 10px;
}

.side-border{
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}

.pagination{
    width: 25%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    border-radius: 20px;
}

.pagination div{
    width: 100%;
}

.pagination div button{
    background: #fff;
    color: #F4511E;
    font-size: 12px;
    font-weight: 800;
    border: 1px solid #ccc;
    width: 100%;
    padding: 15px 10px;
    border-radius: none;
    cursor: pointer;
}

.pagination div button:hover{
    background: #F4511E;
    color: #E4E4E4;
}

@media screen and (max-width:990px){
    .list-con{
        width: 90%;
    }

    .glider{
        width: 90%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        height: 235vh;
    }
    

    .properties span{
        font-size: 14px;
        font-weight: 800;
    }
    .prop-divs{
        flex-direction: column;
    }  

    .div-one{
        flex-basis: 100%;
        margin-bottom: 60px;
    }
    .div-two{
        flex-basis: 100%;
        margin-bottom: 60px;
    }
    .div-three{
        flex-basis: 100%;
        margin-bottom: 60px;
    }
}

/* Section Ends */


/* Section */
.grid{
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-image{
    flex-basis: 60%;
}

.grid-image img{
    width: 100%;
}

.grid-con{
    display: flex;
    justify-content: space-between;
}

.grid-text{
    flex-basis: 35%;
}

.grid-text h2{
    font-size: 40px;
    font-weight: bolder;
    line-height: 54px;
}

.grid-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
}

.grid-text button{
    width: 185px;
    height: 63px;
    margin-top: 20px;
    border: none;
    background: #F4511E;
    color: #fff;
    border-radius: 13px;
}


@media screen and (max-width:768px){
    .grid{
        flex-direction: column;
        margin-top: 50px;
    }

    .grid-image{
        flex-basis: 100%;
    }
    
    .grid-text{
        flex-basis: 100%;
    }

    .grid-text h2{
        font-size: 28px;
        font-weight: bolder;
        line-height: 36px;
    }
    
    .grid-text p{
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 20px;
    }
}

/* Section Ends */


/* Section */
.drag{
    width: 85%;
    margin: 0 auto; 
    margin-bottom: 30px;  
}

.drag h2{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}


.contact{
    margin-top: 3%;
    padding: 30px;
    background: #ffff;
    box-shadow: 0 0 10px 0px #e1e1e1;  
}

.contact h4{
    font-size: 28px;
    font-weight: 800;
    color: #F4511E;
    text-align: center;
}

form{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.first-col{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}

.middle-col{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}

.last-col{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}

.form-bar{
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.required::after{
    content: "*";
    color: #F4511E;
    font-size: 12px;
    font-weight: 800;
    margin-left: 5px;

}

.form-bar input{
    border: none;
    outline: none;
    background: #f9f9f9;
    padding: 15px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.form-bar select{
    border: none;
    outline: none;
    background: #f9f9f9;
    border-radius: 5px;
}

.spread{
    width: 100%;
    display: flex;
}

.form-bar textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #f9f9f9;
    padding: 15px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.custom-select{
    color: #818181;
    font-size: 12px;
    padding: 15px 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    border-right: 16px solid transparent;
  }

.form-bar input::placeholder{
  color: #818181;
  font-size: 12px;
}

.upload h3{
    margin-top: 5%;
}

.upload-box{
    border: 2px dashed #F4511E;
    border-radius: 8px;
    padding:20px ;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-box.active{
    border: 2px dashed #0A142F;  
}

.upload-box img{
    width: 100%;
    height: 100%;
}

.upload-box span{
    text-align: center;
}

.upload-box strong{
    color: #F4511E;
    cursor: pointer;
}


.upload-box p{
    font-size: 14px;
    margin-top: 5px;
    color: #818181;
    text-align: center;
}

.drag-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.drag-btn button{
    width: 40%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #F4511E;
    color: #fff;
    cursor: pointer;
}

.drag-btn button:hover{
   background: #0A142F;   
}

@media screen and (max-width:768px){
    
    .drag{
        margin-top: 20%; 
    }

    .contact{
        margin-top: 50px;
    }

    .contact h4{
        font-size: 20px;
    }

    form{
        flex-direction: column;
        margin-top: 10%;
    }

    .first-col{
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .middle-col{
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .last-col{
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }
    .spread{
        justify-content: center;
        align-items: center;
        
    }

    .upload-box{
        margin-top: 5% ;
    }

    .drag-btn {
        margin-top: 5%;
    }

    .drag-btn button{
        width: 70%;
    }
}

/* Section Ends */



/* Section */
.testimonial{
    display: flex;
    justify-content: space-between;
    background: #FFF0EB;
    margin-top: 5%;
}

.img-slider{
    flex-basis: 47%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
}

.slider{
    position: relative;
    height: 45vh;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.active{
    opacity: 1;
}

.quote{
    margin-left: -40px;
}

.slide-con p{
    margin-top: -20px;

}

.info{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.info div{
    margin-left: 10px;
}

.info div p{
    color: #F4511E;
    font-weight: 800;
}

.playback{
  flex-basis: 50%;  
}

.playback img{
    width: 100%;
}

.navigation{
    display: flex;
}

.btn{
    width: 12px;
    height: 12px;
    background: #818181;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.btn:last-child{
    margin-right: 0;
}

.btn.active{
    background: #F4511E;
}

@media screen and (max-width:990px){
    .testimonial{
        flex-direction: column;
    }

    .img-slider{
        flex-basis: 100%;
        padding-top: 30px;
        margin-bottom: 10%;
    }

    .slider{
        height: 55vh;
    }

    .playback{
        flex-basis: 100%;
        margin-top: 10%;
    }
}

/* Section Ends */



/* Section */
footer{
    width: 85%;
    margin: 0 auto;
    margin-top: 10%;
    border-top: 2px solid #F4511E;
}


.footer-con{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}

.lines{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.con-info p{
    display: flex;
    align-items: center;  
}

.con-info img{
    margin-right: 10px;
}

.lines p{
    display: flex;
    align-items: center;
}

.lines img{
    margin-right: 10px;
}

.media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.handles{
    display: flex;
    align-items: center; 
}

.handles div{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-right: 20px; 
}

.handles div:last-child{
    margin-right: 0;
}


.handles div img{
    margin-right: 20px;
}

.handles div img:last-child{
    margin-right: 0;
}

.more-info{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
    border-top: 1px solid #ccc;
}

.more{
    display: flex;
    align-items: center;
}

.more-con{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.more-con :last-child{
    margin-right: 0;
}

.more-con p{
    margin-right: 30px;
}

.more-con p:last-child{
    margin-right: 0;
}

.copyright p{
  color: #0A142F;
  opacity: 80%;
}


@media screen and (max-width:990px){
    footer{
        margin-top: 40%;
    }

    .footer-con{
        flex-direction: column;
    }

    .lines{
        flex-direction: column;
        margin-top: 30px;
    }

    .lines p{
        margin-bottom: 20px;
    }

    .con-info{
        margin-top: 5%;
    }

    .handles{
        flex-direction: column;
        margin-top: 3%;
    }

    .handles div{
        margin-right: 0;
        margin-bottom: 10%;
    }  

    .media{
        margin-top: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .more-info{
        flex-direction: column;
    }

    .more{
        flex-direction: column;
    }

    .more-con{
        flex-direction: column;
        margin-top: 5%;  
        margin-right: 0;      
    }

    .more-con p{
        margin-right: 0;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .copyright p{
        text-align: center;
    }
}

/* Section Ends */




